.card-task {
    $self: &;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ant-card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        display: flex;
        align-items: center;

        img {
            height: 24px;
            margin-right: 5px;
        }

        p {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__description {
        margin: 0 0 10px 0;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        #{$self}__date {
            font-weight: 500;
            opacity: 0.85;
        }
    }
}