@import "~antd/dist/antd.css";

#root,
.wrapper {
    height: 100%;
}

.card-row {
    padding: 8px;
}

.divider {

    &:before,
    &:after {
        border-top: 1px solid #cacaca !important;
    }
}

.ant-card-hoverable {
    cursor: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 7px;

    &-track {
        background-color: #e7e7e7;
        border-radius: 3px;
    }

    &-thumb {
        background-color: #c0c0c0;
        border-radius: 3px;
    }
}